.container{
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
}

img{
    width: 650px;
    height: 550px;
    border-radius: 10%;
    border: 1.5px solid orange;
}


body{
    background-color: #3E54AC;
}

#container2{
    width: 650px;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10%;
}


#container2 > img{
    width: 140px;
    height: 130px;
}


#container2 > img:hover{
    width: 145px;
    height: 135px;
    border: 2px solid orange;
    transition: 1s;
}


i{
    z-index: 10;
    font-size: 6em !important;
    display: inline-block;
    color: black;
    position: absolute;
    cursor: pointer;
    top: 45%;
    transition: color 1s;
}
i:hover{
    color: orange;
    transition: color 1s;
}
#left{
    left: 15%;
}
#right{
    right: 15%;
}